<div class="main-container" *ngIf="books.length>0; else empty">
    <div class="card" *ngFor="let book of books; let par = even">
        <img src="{{book.photo}}" alt="Portada del libro" class="card__img">
        <div class="card__body">
            <p class="card__book--type">{{book.type}}</p>
            <div class="line"></div>
            <h3 class="card__book--title">{{book.title}}</h3>
            <p class="card__book--author">{{book.author}}</p>
            <p class="card__book--ref">{{book.id_book}}</p>
            <h4 class="card__book--price">{{book.price}}€</h4>
            <button class="card__button" [ngClass]="par ? 'odd__button' : ''">Comprar</button>
        </div>
    </div>
</div>

<ng-template #empty>
    <div class="main-container" style="height: 77.9vh;">
        <h1 class="text__empty">No hay Libros</h1>
    </div>
</ng-template>

<div class="form-block">
    <form>
        <h1 class="form__header">Añadir libro</h1>

        <div class="form__body">
            <div class="form__data">
                <input type="text" id="title" placeholder="Título" #title>
                <input type="text" id="type" placeholder="Tapa blanda/dura" #type>
                <input type="text" id="author" placeholder="Autor" #author>
                <input type="number" id="price" placeholder="Precio" #price>
                <input type="text" id="photo" placeholder="Foto" #photo>
                <input type="number" id="id_book" placeholder="Código libro" #id_book>
            </div>

            <button class="form__button" type="reset" (click)="addBook(title.value,type.value,author.value,price.valueAsNumber,photo.value,id_book.valueAsNumber)">
                Insertar Libro
            </button>
        </div>
    </form>
</div>