<form>
    <div class="form__header">
        <h1 class="form__h1">Registrate</h1>
        <div class="line"></div>
    </div>

    <div class="form__register">
        <input type="text" id="name" placeholder="Nombre">
        <input type="text" id="lastName" placeholder="Apellidos">
        <input type="text" id="email" placeholder="Correo">
        <input type="password" id="password" placeholder="Contraseña">
        <input type="password" id="repeatPassword" placeholder="Repetir Contraseña">
    </div>

    <button class="form__button" type="reset">
        Registrarse
    </button>
</form>