.register-page{
    height: 76.8vh;
    background-image: url(../../../assets/img/fondo_libreria.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}