<footer>
    <ul class="footer__rrss">
        <li><a href="" class="footer__link"><img src="../../../assets/img/icono-twitter.png" alt="Twitter"></a></li>
        <li><a href="" class="footer__link"><img src="../../../assets/img/icono-facebook.png" alt="Facebook"></a></li>
        <li><a href="" class="footer__link"><img src="../../../assets/img/icono-instagram.png" alt="Instagram"></a></li>
        <li><a href="" class="footer__link"><img src="../../../assets/img/icono-linkedin.png" alt="LinkedIn"></a></li>
    </ul>
    <div class="footer__firma">Web desarrollada por Gerardo Casado </div>
</footer>