<div class="profile-page">

    <div class="left">
        <img src="{{profile.photo}}" alt="" class="left__img">

        <h2 class="left__title">{{profile.name}} {{profile.last_name}}</h2>

        <div class="left__data">
            <div class="data__field">
                <p class="title">Nombre</p>
                <p class="info">{{profile.name}}</p>
            </div>
            <div class="data__field">
                <p class="title">Apellido</p>
                <p class="info">{{profile.last_name}}</p>
            </div>
            <div class="data__field">
                <p class="title">Correo</p>
                <p class="info">{{profile.email}}</p>
            </div>
        </div>
    </div>
    <div class="right">
        <form>
            <div class="form__header">
                <h1 class="form__h1">Editar datos</h1>
                <div class="line"></div>
            </div>

            <div class="form__group">
                <div class="form__editData">
                    <input type="text" id="name" placeholder="Nombre" #name>
                    <input type="text" id="lastName" placeholder="Apellidos" #last_name>
                    <input type="text" id="email" placeholder="Correo" #email>
                    <input type="text" id="url" placeholder="Url" #photo>
                </div>

                <button class="form__button" type="reset" (click)=modify(name.value,last_name.value,email.value,photo.value)>
                    Modificar
                </button>
            </div>
        </form>
    </div>
</div>