.home{
    height: 79vh;
    background-image: url(../../../assets/img/fondo_libreria.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: #0B5345 ;
}